.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1em;
  padding-top: 1em;

  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}
