@import "../../assets/styles/variables";

header {
  background-color: $orange;
  background-image: url("../../assets/files/images/minecraft1.png");
  background-repeat: no-repeat;
  border-radius: $default-border;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
  }

  .header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-image {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .header-info {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: $default-border;

    & h1 {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $white;
    }
  }

  .header-ip-address {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border-radius: $default-border;
    padding: 0 1rem;
    color: $black;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    border: 2px solid transparent;

    & p {
      font-family: "Bungee", sans-serif;
      font-weight: 400;
      font-style: normal;
      margin: 0.5em 0 0.5em 0;
    }

    &:hover {
      border-color: $black;
      background-color: lighten($white, 5%);
    }

    .copy-icon {
      margin-left: 0.8rem;
      transition: transform 0.3s ease;
      transform: scale(1);
    }

    &.copied .copy-icon {
      transform: scale(1.3);
    }
  }
}
